.nav_container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button{
    display: none;
}

.nav__menu{
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav__menu a{
    font-size: 0.9rem;
    transition: var(--transition);
}

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,#30ff00);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent,#00c6ff);
    border-radius: 6px;
}

.footer-bottom{
    background: var(--color-bg2);
    width: 100%;
    margin-top: 30px ;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    opacity: .4;
    font-weight: 200;
}
 
.divider{
    width: 95%;
    height: 1px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 19px;
    background-color: var(--color-primary);
}