*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primary: #6c63ff;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #ffff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #0000;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890;


    --container-width-lg: 76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}

.header{
    min-height: 100vh;
    max-width: 100%;
    background: linear-gradient(rgba(9, 7, 30, 0.7), rgba(9, 7, 30, 0.7)), url(../images/sports/background.jpg);
    background-position: center;
    background-size: cover;
    background-color: var(--color-bg);
}

.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid var(--color-danger);
    background: var(--color-danger);
    transition: 0.5s ease; 
}

.info{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: white;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.info-col{
    flex-basis: 31%;
    background: var(--color-bg1);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.info-col1{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 10px;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.info-col:hover{
    box-shadow: 0 0 2rem 0px rgba(0, 0, 0, 0.452);
}

.recommendations{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 5px;
}

.reco-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}

.reco-col img{
    width: 100%;
    display: block;
}

span{
    color: var(--color-primary);
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(112, 7, 231, 0.699);
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s ;
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

.characters{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.characters-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
}

.characters-col img{
    width: 100%;
    border-radius: 10px;
    filter: saturate(0);
    transition: 0.5s;
}

.characters-col:hover img{
    filter: saturate(1);
}

.characters-col p{
    padding: 0;
    text-align: left;
}

.characters-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/favourites/psycho.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1{
    color: white;
    margin-bottom: 40px;
    padding: 0;
}

.footer-bottom{
    background: var(--color-bg2);
    width: 100%;
    margin-top: 30px ;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    opacity: .4;
    font-weight: 200;
}
 
.divider{
    width: 95%;
    height: 1px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 19px;
    background-color: var(--color-primary);
}