*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --color-primary: #6c63ff;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #ffff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #0000;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890;


    --container-width-lg: 76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    text-align: center;
}

.content h1{
    font-size: 100px;
    color: white;
    font-weight: 600;
    transition: var(--transition);
}

.content h1:hover{
    -webkit-text-stroke: 2px white;
    color: transparent;

}

.content a{
    text-decoration: none;
    display: inline-block;
    background-color: var(--color-danger);
    color: white;
    border: 1px solid white;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    transition: var(--transition);
}

.content a:hover{
    background: transparent;
    color: white;
}


.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

.main {
    height: 100vh;
    width: 100%;
  }
  .wrapper,
  .slide {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .slide {
    overflow: hidden;
  }
  .slide::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
  }
  .slide .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .slide .image-data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    z-index: 100;
  }
  .image-data span.text {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
  }
  .image-data h2 {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
  }
  a.button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    color: #333;
    background: #fff;
    text-decoration: none;
    margin-top: 25px;
    transition: all 0.3s ease;
  }
  a.button:hover {
    color: #fff;
    background-color: #c87e4f;
  }
  
  /* swiper button css */
  .nav-btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
  }
  .nav-btn:hover {
    background: rgba(255, 255, 255, 0.4);
  }
  .swiper-button-next {
    right: 50px;
  }
  .swiper-button-prev {
    left: 50px;
  }
  .nav-btn::before,
  .nav-btn::after {
    font-size: 25px;
    color: #fff;
  }
  .swiper-pagination-bullet {
    opacity: 1;
    height: 12px;
    width: 12px;
    background-color: #fff;
    visibility: hidden;
  }
  .swiper-pagination-bullet-active {
    border: 2px solid #fff;
    background-color: #c87e4f;
  }
  
  @media screen and (max-width: 768px) {
    .nav-btn {
      visibility: hidden;
    }
    .swiper-pagination-bullet {
      visibility: visible;
    }
  }

.heading{
  text-align: center;
  font-weight: 500;
  font-size: 62px;
  margin-top: 7rem;
}

span{
  color: var(--color-primary);
}

.quotes{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
  gap: 40px 60px;
}

.quotes .drop{
  position: relative;
  width: 350px;
  height: 350px;
  box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05), 
  25px 30px 20px rgba(0, 0, 0, 0.05),
  25px 30px 20px rgba(0, 0, 0, 0.05),
  inset -20px -20px 25px rgba(255, 255, 255, 0.9);
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quotes .drop:nth-child(1){
  border-radius: 69% 31% 46% 54% / 32% 46% 54% 68% ;
}

.quotes .drop:nth-child(2){
  border-radius: 30% 70% 39% 61% / 44% 30% 70% 56%  ;
}

.quotes .drop:nth-child(3){
  border-radius: 27% 73% 25% 75% / 46% 28% 72% 54%  ;
}

.quotes .drop:hover{
  border-radius: 50%;
}

.quotes .drop::before{
  content: "";
  position: absolute;
  top: 50px;
  left: 85px;
  width: 35px;
  height: 35px;
  background: white;
  border-radius: 50%;
  opacity: 0.9;
}

.quotes .drop::after{
  content: "";
  position: absolute;
  top: 90px;
  left: 110px;
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 50%;
  opacity: 0.9;
}

.quotes .drop .context{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 40px;
  gap: 15px;
}

.quotes .drop .context h2{
  color: var(--clr);
  position: relative;
  width: 80px;
  height: 80px;
  background: #eff0f4;
  border-radius: 50%;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.1),
  inset 2px 5px 10px rgba(255, 255, 255, 1),
  15px 15px 10px rgba(0, 0, 0, 0.05),
  15px 10px 15px rgba(0, 0, 0, 0.025);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.quotes .drop .context h5{
  position: relative;
  padding: 10px 25px;
  background: var(--clr);
  text-decoration: none;
  color: white;
  border-radius: 35px;
  font-weight: 500;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  opacity: 0.75;
  transition: 0.5s ;
}

.quotes .drop .context h5:hover{
  opacity: 1;
}

::-webkit-scrollbar{
  width: 12px;
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(transparent,#30ff00);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(transparent,#00c6ff);
  border-radius: 6px;
}

.footer-bottom{
  background: var(--color-bg2);
  width: 100%;
  margin-top: 30px ;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  opacity: .4;
  font-weight: 200;
}

.divider{
  width: 95%;
  height: 1px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 19px;
  background-color: var(--color-primary);
}